/* Обёртка секции cover */
.cover {
  width: 100%;
  height: 757px;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-end;

  padding: 51px 50px 51px 78px;
}

.cover * {
  margin: 0;
}

/* Фоновое изображение */
.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  filter: brightness(42%);
  margin: 0;
}

/* Заголовок */
.cover__header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  padding-top: 165px;

  font-size: 100px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.3em;
}

.cover__header--spaced {
  letter-spacing: 0.6em;
}

.cover__header--left {
  padding-left: 4.54545%;
}

.cover__header--center {
  margin-top: 7px;
  padding-left: 30.54545454%;
}

.cover__header--right {
  padding-left: 57.68%;
}

/* Подзаголовок / описание */
.cover__description {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

.cover__description--spaced {
  letter-spacing: 0.85em;
}

/* Кнопка действия */
.cover__action {
  width: 256px;
  height: 51px;

  font-size: 22px;
  color: #fff;

  border: 1px solid #fff;
  background-color: transparent;
}

/* Контейнер для текста и кнопки */
.cover__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
